{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container-rounded" id="welcome">
        <h3 class="text-muted">
            Welcome, {{ username }}!
        </h3>
    </div>
    <br>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4">
                <div class="card" style="width: 22rem;">
                    <img src="{{ url_for('static', filename='images/riverwhitemts.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-muted"">New Hampshire</h5>
                      <p class="card-text text-muted">Home to 48 of New Englands 4000 footers and the Whites.</p>
                      <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 22rem;">
                    <img src="{{ url_for('static', filename='images/vermontmts.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-muted"">Vermont</h5>
                      <p class="card-text text-muted"">Here you'll find the Green Mountains and 5 of 4000 footers.</p>
                      <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 22rem;">
                    <img src="{{ url_for('static', filename='images/mainemts.jpeg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title text-muted"">Maine</h5>
                      <p class="card-text text-muted"">With 14 of the 4000 footers in Baxter, Bieglow, and the Appalachians.</p>
                      <a href="#" class="btn btn-secondary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
        

{% endblock %}